@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);



#header1-0 P {
  font-size: 30px;
}
#header1-0 H1 {
  color: #0be646;
}
#header1-0 .btn {
  font-size: 36px;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-n .lead P {
  font-family: 'Lora', serif;
  font-size: 60px;
}
#msg-box3-n .lead {
  color: #0275d8;
}
#msg-box3-n .mbr-section-title {
  color: #f90700;
}
#msg-box3-n .btn {
  font-size: 48px;
  font-family: 'Lora', serif;
}
#msg-box3-n .mbr-section-title B {
  font-size: 60px;
}
